{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

<div class="col-md-5 pull-right">
    <h4>Our registration process</h4>
    <p>
        It is not required to own an account to view most of the content on this site. 
        If you do wish to take part in contributing and improving Echelon, please fill in and 
        submit a registration form. Once submitted, a site administrator will need to review 
        your registration request before granting you membership into Echelon. 
    </p>
    <h4>Did you know?</h4>
    <p>
        All account and registration password data is hashed using a secure "Password-Based Key 
        Derivation Function 2" algorithm before stored in our database. This guarantees only 
        <b>you</b> will know your password. But if you forget it, the site administrator cannot 
        recover your password except generate a new one for you.
    </p>
</div>
<div class="col-md-7">
    <form class="myform" action="{% url 'register' %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Submit" />
    </form>
</div>

{% endblock %}