data:
  build: ./volume
  volumes:
    - /web_app/volume/
    - /web_app/static/
postgresdb:
  image: postgres:9.4.5
  environment:
    POSTGRES_PASSWORD: mypassword
    POSTGRES_USER: hivemind_user
web:
  build: .
  command: sh entry-point.sh
  volumes_from:
    - data
  ports:
    - "8001"
  links:
    - postgresdb:pgdb
  environment:
    DJANGO_SETTINGS_MODULE: config.settings.prod
    SECRET_KEY: h5q-*ck_23etyu)pmd7n#p#7i)ci8p@&s!hw8#(0)4ieno9+%7
    PASSWORD: mypassword
    USER: hivemind_user
reverse_proxy:
  build: ./nginx
  volumes_from:
    - data
  ports:
    - "81:81"
  links:
    - web:localhost
