<html>
<head>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static "bootstrap/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "bootstrap/bootstrap-theme.min.css" %}">
  <script src="{% static "bootstrap/bootstrap.min.js" %}"></script>
  <link rel="stylesheet" href="{% static "css/style.css" %}" />
  <title>{% block title %}Echelon{% endblock %}</title>
</head>

<body>
  <div class="container-fluid">
    <div class="row" id="head">
      <h1>BMM Echelon</h1>
      <!-- fill with proper nav bar later -->
    </div>
    <div class="row" id="content">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>
</html>
