{% extends "base.html" %}

{% block content %}
{% csrf_token %}
<div>
    <div class="jumbotron">
        <h1>Welcome to Echelon</h1>
        <p>Harness the wealth of knowledge and experience from the pack.</p>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p>
                A feature rich bug tracking system which allows for adding attachments and 
                displaying historic information of issues. A powerful search engine to look for 
                previously raised issues based on their content, tags or comments. And an 
                intelligent recommendation system to discover issues similar to those raised. 
            </p>
            <p>
                <a href="{% url 'defects:list' %}" class="btn btn-primary">Try it out</a>
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                A RESTful API to support extensions to other apps outside of the browser. 
                Build out mobile or desktop connected applications which can navigate and search 
                through active, recently changed issues. Or make use of autosuggestions by calling 
                the "suggest issues" or "suggest projects" API.
            </p>
            <p>
                <a href="{% url 'api:defects:api-root' %}" class="btn btn-primary">Try it out</a>
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                Other apps to be added here.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
                culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
                <a href="#" class="btn btn-primary">Try it out</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}
