{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

{% if error %}
<div class="well well-sm">
    {{ error }}
</div>
{% endif %}

{% if next %}
<form action="{% url 'login-url' %}?next={{next}}" method="post" >
{%else%}
<form class="myform" action="{% url 'login-url' %}" method="post">
{% endif %}
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Submit" />
</form>
<p>Not a member? <a href="{% url 'register' %}">Create an account!</a></p>
{% endblock %}