
<nav role="navigation" class="navbar navbar-inverse">
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'clients-landing-url' %}">Clients</a></li>
            <li><a href="{% url 'dirts-landing-url' %}">DIRTs</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li><a href="{% url 'logout-url' %}">{{ user.get_username }}, Log out</a></li>
          {% else %}
          <li><a href="{% url 'login-url' %}">Login</a></li>
          {% endif %}
        </ul>
    </div>
</nav>
