/* base css */

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-bottom: 30;
  background-color: #595959;
}

.jumbotron {
  font-family: monospace;
  color: #ADA5C6;
}

#brand {
  font-size: 24;
  font-family: Verdana;
  font-weight: bold;
  color: #C41230;
  padding-left: 20;
  text-shadow: -1px 0 white, 0 1px white,
      1px 0 white, 0 -1px white;
}

#footer {
  /*background-color: #1D7B74;*/
  color: #95C5C1;
  text-align: center;
  padding-top: 10;
}

#content {
  background-color: #DAE1E2;
  padding: 20;
}

#more-like-this {
    font-size: small;
}

.textinput {
    width: 25%
}

/* for dirts */

.desc {
  max-width: 400px;
}

.myform input, select, textarea {
  margin-bottom: 4;
}

#history-list {
  font-size: 12;
}

/* for feeds */

.activity-item {
  background-color: white;
  border-radius: 5px;
  border: 1px dotted dodgerblue;
  padding: 5px;
  margin-bottom: 20px;
}

.activity-item .project {
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-size: 12px;
  border-bottom: 1px solid crimson;
}

.activity-item .summary {
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}