/* base css */

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding-bottom: 30;
  background-color: #595959;
}

.jumbotron {
  font-family: monospace;
  color: #ADA5C6;
}

#header h1 {
  font-family: Verdana;
  font-weight: bold;
  color: #C41230;
  padding-left: 20;
  text-shadow: -1px 0 white, 0 1px white,
      1px 0 white, 0 -1px white;
}

#footer {
  /*background-color: #1D7B74;*/
  color: #95C5C1;
  text-align: center;
  padding-top: 10;
}

#content {
  background-color: #DAE1E2;
  padding-bottom: 20;
}

form {
  padding: 20;
}

/* for contacts list */

#search-control {
  padding-top: 20;
  padding-bottom: 10;
}


/* for dirts */

#action-panel {
  margin-left: 1;
  margin-right: 1;
  margin-bottom: 3;
  padding: 10;
  /*min-height: 150;*/
  background-color: #97BCC8;
}
