/* base css */

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-bottom: 30;
  background-color: #595959;
}

textarea, input, select {
  outline: none;
  border-color: teal;
  border-width: 1px;
  border-radius: 2px;
  padding-left: 4px;
}

input, select {
  height: 30px;
}

.panel {
  border-color: teal;
}

.jumbotron {
  font-family: monospace;
  color: #ADA5C6;
}

.additional-links {
  font-size: 0.9em;
  margin-bottom: 1em;
}

#brand {
  font-size: 24;
  font-family: Verdana;
  font-weight: bold;
  color: #C41230;
  padding-left: 20;
  text-shadow: -1px 0 white, 0 1px white,
      1px 0 white, 0 -1px white;
}

#footer {
  /*background-color: #1D7B74;*/
  color: #95C5C1;
  text-align: center;
  padding-top: 1em;
}

#header {
  -webkit-box-shadow: 0 9px 2px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 9px 2px rgba(0,0,0,0.15);
  box-shadow: 0 9px 2px rgba(0,0,0,0.15);
}

#content {
  background-color: #DAE1E2;
  padding: 20;
  -webkit-box-shadow: 0 5px 2px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 5px 2px rgba(0,0,0,0.15);
  box-shadow: 0 5px 2px rgba(0,0,0,0.15);
  
}

#more-like-this {
    font-size: small;
}

.z-height-1 {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.z-height-1:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  -moz-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.textinput {
    width: 25%;
}

.pagination {
  font-size: smaller;
  padding-left: 1em;
  margin: inherit auto;
  width: auto;
}

/* for dirts */

.desc {
  max-width: 400px;
}

.myform input, select, textarea {
  margin-bottom: 4;
}

#history-list {
  font-size: 12;
}

/* for feeds */

.activity-item {
  background-color: white;
  border-radius: 5px;
  border: 1px dotted dodgerblue;
  padding: 5px;
  margin-bottom: 20px;
}

.activity-item .project {
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-size: 12px;
  border-bottom: 1px solid crimson;
}

.activity-item .summary {
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}