{% extends "base.html" %}

{% block content %}
  <div>
    <div class="row">
      <div class="col-lg-12">
        <div class="well well-sm">
          <p><span>Are you sure you wish to delete this comment? This operation cannot be undone.</span></p>
        </div>
        <div class="comment">
          <p class="heading">
              <span class="author">{{ comment.author }}</span>
              <span class="timestamp">{{ comment.timestamp }}</span>
          </p>
          <p class="content">
              <span>{{ comment.content }}</span>
          </p>
        </div>
        <form class="myform" action="" method="post">
            {% csrf_token %}
            <input type="submit" value="Submit" />
        </form>
      </div>
    </div>
  </div>
{% endblock %}