{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
{% load crispy_forms_tags %}

<h4>Please review list of DIRTs before proceeding with import:</h4>

<div>
    <p><b>DIRT Report for: <i>{{ project.code }} - {{ project.description }}</i></b></p>
    <table id="dirt-report" class="table table-striped">
    <tbody>
        <tr>
            <th>Date Created</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Description</th>
            <th>Owner</th>
            <!--<th>Date Closed</th>-->
        </tr>
        {% for dirt in defects %}
        <tr>
            <!--<td>{{ dirt.date_created | date:"d/m/Y" }}</td>-->
            <td>{{ dirt.date_created }}</td>
            <td>{{ dirt.status }}</td>
            <td>{{ dirt.priority }}</td>
            <td>
                <p>Version: {{ dirt.release_id }}</p>
                <p>Summary: {{ dirt.reference }}</p>
                <p>Description:</p>
                <p>{{ dirt.description | linebreaksbr }}</p>
                {% if dirt.comments %}
                <br>
                <p>Comments:</p>
                <p>{{ dirt.comments | linebreaksbr }}</p>
                {% endif %}
                </p>
            </td>
            <td>{{ dirt.submitter }}</td>
            <!--<td>{{ dirt.date_changed | date:"d/m/Y" }}</td>-->
            <!--<td>{{ dirt.date_changed }}</td>-->
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>

<form class="myform" action="{% url 'complete-import' %}" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Submit" />
</form>

{% endblock %}

{% block custom_css %}
    <style>
        h4 {
            margin-bottom: 30px;
        }
    </style>
{% endblock %}