{% extends "base.html" %}
{% load staticfiles %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}" />
{% endblock %}

{% block custom_javascript %}
    <script type="text/javascript" src="{% static "js/jquery-ui.js" %}"></script>
    <script type="text/javascript">
        $(function() {
            
            var url = "{% url 'defects:api:project-suggest-list' %}";

            var fetch_results = function(request, response) {
                var term = request.term;
                $.getJSON(url, {'q': term}, function(data) {
                    var results = [];
                    $.each(data, function(k, v) {
                        results.push(v);
                    });
                    response(results);
                });
            };
            
            $("#id_project_code").autocomplete({
                minLength: 3,
                select: function(evt, ui) {
                    // logic on select something
                },
                source: function(request, response) {
                    fetch_results(request, response);
                },
            });
            
            $('.dateinput').datepicker({
                dateFormat: "yy-mm-dd" 
            });
        });
    </script>
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

<div class="col-lg-12">
    <form class="myform" action="{% url 'defects:report' %}" method="get">
        {{ form|crispy }}
        <input type="submit" value="View Report" />
    </form>
    {% if defects %}
    <div>
      <p><b>DIRT Report for: <i>{{ project.code }} - {{ project.description }}</i></b></p>
      <table id="dirt-report" class="table table-striped">
        <tbody>
          <tr>
            <th>DIRT Number</th>
            <th>Owner</th>
            <th>Description</th>
            <th>Status</th>
            <th>Level</th>
            <th>Date Logged</th>
          </tr>
          {% for dirt in defects %}
          <tr>
            <td>{{ dirt.id }}</td>
            <td>{{ dirt.owner }}</td>
            <td>
              <p>Version: {{ dirt.version }}</p>
              <p>Summary: {{ dirt.reference }}</p>
              <p>Description:</p>
              <p>{{ dirt.description | linebreaksbr }}</p>
              {% if dirt.comments %}
                <br>
                <p>Comments:</p>
                <p>{{ dirt.comments | linebreaksbr }}</p>
              {% endif %}
              </p>
            </td>
            <td>{{ dirt.status }}</td>
            <td>{{ dirt.level }}</td>
            <td>{{ dirt.date_logged | date:"d/m/Y" }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!--<p id="save-file">
      Save as: (
      <a href="">pdf</a> |
      <a href="">docx</a>
      )        
    </p>-->
    {% endif %}
</div>


{% endblock %}
