{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
{% load crispy_forms_tags %}

{% if error %}
<div class="well well-sm">
    {{ error }}
</div>
{% endif %}

<div id="help" class="col-md-8 pull-right">
    <h4>Import requirements</h4>
    <span>
        <p>This utility helps in uploading and importing into our Hivemind database a list of defects from files. In order to succeed with the import, the file must meet the following criteria:</p>
        <ul>
            <li>The file must be a comma separated values file (CSV)</li>
            <li>The file must be saved in utf-8 character set</li>
            <li>The first row must have the following columns:
                <ul><b>
                    <li>Date Created</li>
                    <li>Status</li>
                    <li>Priority</li>
                    <li>Version</li>
                    <li>Reference</li>
                    <li>Description</li>
                    <li>Comments</li>
                    <li>Date Closed</li>
                </b></ul>
            </li>
            <li>Data rows columns must match with first row columns</li>
        </ul>
        <p>Formatting criteria applies to each column, described below:</p>
        <ul>
            <li><b>Date Created</b> - (dd/mm/yyyy) or (dd/mm/yy). Must not be empty.</li>
            <li><b>Status</b> - ('Open', 'Closed'). Must not be empty.</li>
            <li><b>Priority</b> - ('High', 'Medium', 'Low', 'Observation'). Must not be empty.</li>
            <li><b>Version</b> - Software or hardware version number. Must not be empty.</li>
            <li><b>Reference</b> - One line summary of defect. Must not be empty.</li>
            <li><b>Description</b> - Body of defect. Must not be empty.</li>
            <li><b>Comments</b> - Additional information of defect. Optional.</li>
            <li><b>Date Closed</b> - (dd/mm/yy). Optional.</li>
        </ul>
    </span>
</div>

<div class="col-md-4">
    <form
        class="myform"
        enctype="multipart/form-data"
        action="{% url 'defects:imports:import-list' %}"
        method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Process" />
    </form>
</div>

{% endblock %}


{% block custom_css %}
    <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}" />
    <style>
        #id_project_code {
            width: 70%;
        }
        #help {
            margin-bottom: 30px;
        }
    </style>
{% endblock %}

{% block custom_javascript %}
    <script type="text/javascript" src="{% static "js/jquery-ui.js" %}"></script>
    <script type="text/javascript">
        $(function() {
            
            var url = "{% url 'api:defects:project-suggest-list' %}";

            var fetch_results = function(request, response) {
                var term = request.term;
                $.getJSON(url, {'q': term}, function(data) {
                    var results = [];
                    $.each(data, function(k, v) {
                        results.push(v);
                    });
                    response(results);
                });
            };
            
            $("#id_project_code").autocomplete({
                minLength: 3,
                select: function(evt, ui) {
                    // logic on select something
                },
                source: function(request, response) {
                    fetch_results(request, response);
                },
            });
        });
    </script>
{% endblock %}
