{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

<h4>
    Add relevant tags to this defect.
    This helps locate issues under similar <a href="{% url 'defects:tags-list' %}">categories</a>
    and improves Hiveminds "More like this" feature.
</h4>
<p><i>Note: Tags containing multiple words must be enclosed in quotations (eg. "Audit Mode"). Otherwise words get split into multiple tags.</i></p>

<form class="myform" action="{% url 'defects:tags' defect.id %}" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Save" />
</form>


{% endblock %}