{% extends "base.html" %}

{% block content %}
{% load staticfiles %}

{% load crispy_forms_tags %}

<form class="myform" action="{% url 'create-project' %}" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Submit" />
</form>

{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}" />
{% endblock %}

{% block custom_javascript %}
    <script type="text/javascript" src="{% static "js/jquery-ui.js" %}"></script>
    <script type="text/javascript">
        $(function() {
            $('.dateinput').datepicker({
                format: "yyyy/mm/dd" 
            });
        });
    </script>
{% endblock %}