{% extends "base.html" %}

{% block content %}
    <div class="row">
      <div class="col-lg-9">
        <table id="project-results" class="table table-striped table-condensed">
          <tbody>
            <tr>
              <th>Project code</th>
              <th>Description</th>
              <th>Date created</th>
            </tr>
            {% for project in object_list %}
            <tr>
              <td>{{ project.code }}</td>
              <td>{{ project.description }}</td>
              <td>{{ project.date_created }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
{% endblock %}

{% block custom_css %}
{% endblock %}

{% block custom_javascript %}
{% endblock %}